<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th> BrandId</th>
            <th>ColorId</th>
            <th>ModelYear</th>
            <th>ModelName</th>
            <th>DailyPrice</th>

        </tr>
    </thead>
    <tr *ngFor="let car of cars">
        <td>{{car.id}}</td>
        <td>{{car.brandId}}</td>
        <td>{{car.colorId}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.modelName}}</td>
        <td>{{car.dailyPrice}}</td>
    </tr>
</table>
